<packages>
  <package id="PepperDashEssentials" version="2.12.1" targetFramework="net47" allowedVersions="[2.0,3.0)"/>
  <package id="PepperDash.Essentials.MobileControl" version="2.12.1" targetFramework="net47"/>
  <package id="PepperDash.Essentials.MobileControl.Messengers" version="2.12.1" targetFramework="net47"/>
</packages>